<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401509055812-c1u02m9rtv3equundbqm5hcs5a76kt0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401509055812-c1u02m9rtv3equundbqm5hcs5a76kt0l</string>
	<key>API_KEY</key>
	<string>AIzaSyC_8DRLGN5cya_8m74uF7XUIWMPcVMIG60</string>
	<key>GCM_SENDER_ID</key>
	<string>401509055812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.macoco.PasswordBackup</string>
	<key>PROJECT_ID</key>
	<string>passwordbackup-3ef8d</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordbackup-3ef8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401509055812:ios:91cf994a62edbced846b11</string>
	<key>DATABASE_URL</key>
	<string>https://passwordbackup-3ef8d.firebaseio.com</string>
</dict>
</plist>